body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

#nav-bar{
    background-color: #333333;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav-bar > a{
    text-decoration: none;
    display: block;

    color: white;
    font-size: 25px;
    font-weight: bold;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    transition-property: background-color, padding-left, padding-right;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
#nav-bar > a:hover{
    background-color: #111111;
    padding-left: 70px;
    padding-right: 70px;
}


#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 10px;
    
    background-color: whitesmoke;
    width: 1300px;
    height: 800px;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.right-frame{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 10px;
    
    background-color: whitesmoke;
    width: 500px;
    height: 800px;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#calender{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 150px;
    width: 1200px;
    height: 700px;
}

#calender > h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.day{
    width: 100%;
    height: 50px;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-bottom: 1px solid darkgrey;
}

.col{
    width: 100%;
    height: 120px;
}

.day:nth-child(1){
    background-color: rgba(255, 0, 0, 0.212);
}
.day:nth-child(2), .day:nth-child(3), .day:nth-child(4), .day:nth-child(5), .day:nth-child(6){
    background-color: rgba(169, 169, 169, 0.3);
}
.day:nth-child(7){
    background-color: rgba(0,0,255,0.1212);
}

.plan{
    display: flex;
    flex-direction: row;
}
.color{
    display: block;
    
}